.riwayat-beli {
  padding: 1rem;
  padding-top: 0;

  /* background-color: aquamarine; */
}

.pagenation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}
