button {
  background: none;
  border: none;
}

body {
  margin: 0;
}

body {
  background-color: #f8f8ff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  color: #386641;
}

p {
  color: #a7c957;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a7c957;
}
